---
layout: default
---

<main>
  <div id="login-box">
    <p>Bitte gib das Passwort ein:</p>
    <input type="password" id="password-input" placeholder="Password">
    <button id="submit-btn">Absenden</button>
  </div>

  <div id="protected-content" style="display:none;">
    {{ content }}
  </div>
</main>

<script>
  async function hashPassword(password) {
    const encoder = new TextEncoder();
    const data = encoder.encode(password);
    const hashBuffer = await crypto.subtle.digest('SHA-256', data);
    const hashArray = Array.from(new Uint8Array(hashBuffer));
    const hashHex = hashArray.map(b => b.toString(16).padStart(2, '0')).join('');
    return hashHex;
  }
  document.getElementById("submit-btn").addEventListener("click", async function() {
    const input = document.getElementById("password-input").value;
    const inputHash = await hashPassword(input);
    const correct = "652c7dc687d98c9889304ed2e408c74b611e86a40caa51c4b43f1dd5913c5cd0";
    if (inputHash === correct) {
      document.getElementById("login-box").style.display = "none";
      document.getElementById("protected-content").style.display = "block";
    } else {
      alert("Wrong password!");
    }
  });
</script>
